<!doctype html>
<title>{% block title %}{% endblock %} - Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<style>
body{
    background-repeat: no-repeat;
    background-image: url('/static/background.png');
    background-size: 100% 100%;
    min-height: 100vh;
    
}
</style>
<header class="header">
  <nav class="nav">
      <div class="nav-left">
          <ul>
              <li><a href = "/"><img src= "{{url_for('static', filename='logo.jpg')}}"> </a></li>
          </ul>
      </div>
      <div class="nav-right">
          <ul>
              <li><a href="/outlet">Outlet</a></li>
              <li><a href="/read">Read</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/auth/login">Login</a></li>
          </ul>
      </div>
  </nav>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <div>
    {% block content %}
    {% endblock %}
  </div>

